@model DojoSurvey.Models.Survey

<!DOCTYPE html>

<html>

<head>
    <title>title</title>
    <style type="text/css">
        .form {
            border: 2px black solid;
            margin: 200px auto;
            width: 500px;
            padding: 20px;
        }

        label {
            display: inline-block;
            width: 200px;
            vertical-align: top;
        }
    </style>

</head>

<body>
    <div>
        <form class="form" action="result" method="post">
            <input type="text" name="test">
            <p><label asp-for="Name">Your Name: </label>
                <input asp-for="Name" type="text" /></p>
            <p><label asp-for="Location">Dojo Location: </label>
                <select asp-for="Location">
                    <option value=null>Select One</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Chicago">Chicago</option>
                </select> </p>

            <p><label asp-for="FavLanguage">Favorite Language: </label>
                <select asp-for="FavLanguage">
                    <option value=null>Select One</option>
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="C#">C#</option>
                </select> </p>
            <p><label asp-for="Comment">Comment (optional): </label>
                <textarea asp-for="Comment" rows="5"></textarea> </p>
            <label></label>
            <input type="submit" value="submit"/>
        </form>
    </div>
</body>

</html>