<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        table {
            border: 2px black solid;
            margin: 200px auto;
            width: 400px;
            padding: 20px;
        }
        h3{ text-decoration: underline;}
        td {
            
            width: 100px;
            
        }
        
    </style>
</head>
<body>
<table>
    <tr><td><h3>Submitted Info:</h3></td></tr>

    <tr><td>Name: </td><td>@ViewBag.Name</td></tr>
    <tr><td>Location: </td><td>@ViewBag.Location</td></tr>
    <tr> <td>Favorite Language: <td>@ViewBag.FavLang</td>
    </tr>
    <tr> <td>Comment: <td>@ViewBag.Comment</td>
    </tr>
</table>

</body>
</html>



